Package: gasfinder
Version: 0.1-1
Architecture: i386
Maintainer: Eduardo Otubo <eduardo.otubo@gmail.com>
Installed-Size: 36
Section: misc
Priority: extra
Homepage: https://code.google.com/p/gasfinder/
Description: Find lower cost gas stations near you
 Python+YQL application for Android and Maemo that
 uses your GPS position to find low cost gas
 stations near you.
