[Desktop Entry]
Encoding=UTF-8
Version=0.1
Type=Application
Name=GasFinder
Comment=Find lower cost gas stations near you
Exec=/usr/bin/python /opt/gasfinder/gasfinder.py
Icon=
X-Window-Icon=
#X-Window-Icon-Dimmed=
#X-Osso-Service=
X-Osso-Type=application/x-executable
